<?xml version="1.0" encoding="UTF-8"?>
<suite name="HttpRequestTest">
    <test name="HttpRequestTest">
        <parameter name="url" value="https://www.iamwawa.cn/home/lizhi/ajax" />
        <parameter name="age" value="18" />

        <classes>
            <class name="com.chenhongzhi.maven.HttpRequestTest" />
        </classes>
    </test>
</suite>